\:host
    display: block
    padding-top: 50px
.row
    margin-left: -15px
    margin-right: -15px
    display: flex
    width: 100%
    .catal-left
        flex-basis: 25%
        overflow: hidden
        margin-bottom: 80px
        .catal-block
            margin-bottom: 30px
            padding-bottom: 30px
            border-bottom: 1px solid #ebebeb
            .catal-list
                li
                    a
                        display: block
                        font-size: 14px
                        line-height: 30px
                        text-transform: capitalize
                        &:hover
                            color: red
    .catal-right
        flex-basis: 75%
        margin-bottom: 80px
        main
            margin-bottom: 80px     
            .catal-nav-top
                display: flex
                flex-wrap: wrap
                .catal-tool-bar
                    width: 100%
                    display: flex
                    justify-content: space-between
                    flex-wrap: wrap
                    padding-right: 15px
                    padding-left: 15px
                    .catal-tool-inner
                        display: flex;
                        justify-content: space-between
                        align-items: center
                        line-height: 28px
                        .catal-view-mode
                            margin-right: 20px
                            border-right: 1px solid #ebebeb
                            ul
                                display: flex
                                flex-wrap: wrap
                                padding-left: 0
                                margin-bottom: 0
                                list-style: none
                                li 
                                    margin-right: 20px
                                    i
                                        color: #cc2121
                        .catal-tool-count
                            font-size: 14px
                    .catal-tool-select
                        .catal-product-sort
                            display: flex
                            p
                                margin: 0 8px 0 0
                                line-height: 28px
                                font-size: 14px
            .catal-product-list
                display: flex
                flex-wrap: wrap
                position: relative
                width: 100%
                min-height: 1px
                .catal-prod-wr
                    padding-bottom: 80px     
.catal-product-item
    display: block
    width: calc(100% / 4)
    flex-shrink: 0
    height: 100%
    position: relative
.catal-pagination
    margin-top: 50px

.catal-title
    font-size: 20px
    line-height: 24px
    font-weight: 500
    letter-spacing: -.05em
    text-transform: capitalize
    margin-bottom: 20px