<div class="slider-width-banner">
    <div class="wr">
        <div class="center">
            <div class="slider">
                <div class="slider-wrapper">
                    
                    <div #sliderSection class="slider-container" (mousedown)="mouseDoun($event)" (mouseleave)="leaveMouse($event)" (mouseup)="endSlide($event)">
                        <div id="gretting"></div>
                        <div class="slider-div ">
                            <a class="slider_link " style="background-image: url('../../../assets/image/slider/slide-1.jpg')" href="#"></a>
                        </div>
                        <div class="slider-div ">
                            <a class="slider_link " style="background-image: url('../../../assets/image/slider/slide-2.jpg')" href="#"></a>
                        </div>
                        <div class="slider-div ">
                            <a class="slider_link " style="background-image: url('../../../assets/image/slider/slide-3.jpg')" href="#"></a>
                        </div>
                        <div class="slider-div ">
                            <a class="slider_link " style="background-image: url('../../../assets/image/slider/slide-1.jpg')" href="#"></a>
                        </div>
                        <div class="slider-div ">
                            <a class="slider_link " style="background-image: url('../../../assets/image/slider/slide-2.jpg')" href="#"></a>
                        </div>
                    </div>
                </div>
                <div id="next" class="slider-next nav-slide" (click)="nextSlide()"><i class="fa fa-angle-right"></i>
                </div>
                <div id="prev" class="slider-prev nav-slide" (click)="prevSlide()"><i class="fa fa-angle-left"></i>
                </div>
            </div>
            <div class="banner">
                <div class="row">
                    <div class="row-fl">
                        <div class="banner-promo">
                            <a href="">
                                <img alt="" src="../../../assets//image/promo/banner-11.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row-fl">
                        <div class="banner-promo top-b">
                            <a href="">
                                <img alt="" src="../../../assets//image/promo/banner-12.jpg">
                            </a>
                        </div>
                        <div class="bottom-banner bot-b">
                            <div class="banner-promo bottom">
                                <a href="">
                                    <img alt="" src="../../../assets//image/promo/banner-13.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>