<div class="pagination">
  <div class="pag-wr">
      <div class="pag-view">
        <span>С <span>10</span> по <span>18</span> из <span>27</span> <span>(3 страниц)</span></span>
      </div>
      <div class="pag-btn">
        <span><a class="pag-link"><i class="fa fa-angle-left"></i>Назад</a></span>
        <ul>
          <li><a class="pag-link">1</a></li>
          <li><a class="pag-link active">2</a></li>
          <li><a class="pag-link">3</a></li>
        </ul>
        <span><a class="pag-link">Вперед<i class="fa fa-angle-right"></i></a></span>
      </div>
  </div>
</div>
