<article class="product-layout">
    <div class="product-inner">
        <div class="product-image">
            <div class="product-label label-new">new</div>
            <div class="product-label label-sale">7%</div>
            <a>
                <img alt="" src="../../../assets/image/slider/{{product.image}}">
            </a>
            <div class="action-links">
                <a class="action-btn btn-cart"><i class="fa fa-cart-arrow-down"></i></a>
                <a class="action-btn btn-wishlist"><i class="fa fa-heart-o"></i></a>
                <a class="action-btn btn-compare"><i class="fa fa-refresh"></i></a>
                <a class="action-btn btn-quickview"><i class="fa fa-search" aria-hidden="true"></i></a>
                <!-- сделать отдельным компонентом -->
            </div>
        </div>
        <div class="product-caption">
            <h4 class="product-name">
                <a href="/">{{product.title}}</a>
            </h4>
            <div class="product-price">
                <p class="old-price">42</p>
                <p class="new-price">222</p>
            </div>
        </div>
    </div>
</article>