<section>
    <div class="login-wr">
        <div class="form">
            <form (submit)="ngSubmit($event)">
                <div class="">
                    <input required type="email"
                           name="login" placeholder="Введите логин" [(ngModel)]="login">
                </div>
                <div class="">
                    <input required type="password" name="password" [(ngModel)]="password"
                           placeholder="Введите пароль">
                </div>
                <button [disabled]="login === '' && password === ''" type="submit">Войти</button>
            </form>
        </div>
    </div>
    <div class="error" *ngIf='error'>
        <p>Не верная пара логин - пароль</p>
    </div>
</section>