<div class="mein-section">
  <div class="wr">
    <div class="center">
        <div class="banner center">
            <div class="row mrr">
                <div class="row-fl">
                    <div class="banner-promo top-b promo-banner hover-effect-2">
                            <a href="">
                                <img alt="" src="../../../assets//image/promo/banner-12.jpg">
                            </a>
                        </div>
                <div class="bottom-banner bot-b">
                        <div class="banner-promo bottom promo-banner hover-effect-2">
                                <a href="">
                                    <img alt="" src="../../../assets//image/promo/banner-13.jpg">
                                </a>
                        </div>
                </div>
            </div>
                <div class="row-fl">
                    <div class="banner-promo promo-banner hover-effect-2">
                        <a href="">
                            <img alt="" src="../../../assets//image/promo/banner-11.jpg">
                        </a>
                    </div>
                </div>
             </div>
             <div class="row pad-on">
                <div id="wi-full" class=" row-fl ">
                    <div class="banner-promo promo-banner hover-effect-2">
                        <a href="">
                            <img alt="" src="../../../assets//image/promo/banner-17.jpg">
                        </a>
                    </div>
                </div>
             </div>
            </div>
    </div>
  </div>
</div>
