<div class="latest-product-slider" #sliderProduct>
    <div class="wr-slider">
        <div id="sw" class="swipper-wrapper">
            <div class="slider-wr-prod" (mousedown)="mouseDoun($event)" (mouseup)="endSlide($event)" *ngFor="let product of products ">
                <app-pre-view-product [attr.t]="product.state" [@productNew]="product.state" [product]="product " ></app-pre-view-product>
            </div>
        </div>
    </div>
    <div class="arrow-next" (click)="nextSlide()">
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="arrow-prev">
        <i class="fa fa-angle-left" (click)="prevSlide()"></i>
    </div>
</div>
