<div class="latest-product-slider" #sliderProduct>
    <!-- (mouseleave)="leaveMouse($event)" -->
    <div class="wr-slider">
        <div id="sw" class="swipper-wrapper" (mousedown)="mouseDoun($event)" (mouseup)="endSlide($event)">
            <app-pre-view-product [attr.t]="product.state" [@productNew]="product.state" [product]="product " *ngFor="let product of products "></app-pre-view-product>
        </div>
    </div>
    <div class="arrow-next" (click)="nextSlide()">
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="arrow-prev">
        <i class="fa fa-angle-left" (click)="prevSlide()"></i>
    </div>
</div>